.navbar-nav .nav-link {
  transition: box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out !important;
  border-radius: 80px 0 0 0px !important;
}

.register-dropdown-item {
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
}

.register-dropdown-item:hover {
  background-image: linear-gradient(45deg, #490558, #6633ff);
  color: white;
  box-shadow: none;
}


.register-dropdown .dropdown-menu {
  transform: translateX(-73px) translateY(10px); 
  left: auto;
}
